<div class="w-full">
    <hr>
    <div class="flex items-center justify-start w-full">
        <div>
            <h1 class="text-center text-2xl font-semibold font-serif">CAPITAL</h1>
            <div class='p-5'>
                <!-- Comunication from child to parent -->
                <app-capital-form (sendName)="searchCapital($event)"></app-capital-form>

                <span class="text-red-500 text-sm" *ngIf="name == '' && submitted">
                    Campo vacio o no se encontro ningun considencia
                </span>
            </div>
            <div class="flex items-center justify-center">
                <span class="font-serif text-md" *ngIf="!submitted">
                    Ninguna busqueda realizada
                </span>
            </div>
            <div class="p-5">
                <app-capital-table [capitals]='capitals' [submitted]='submitted'></app-capital-table>
            </div>
        </div>
    </div>
</div>