<div class="w-full">
    <hr>
    <div class="flex items-center justify-start">
        <div>
            <h1 class="text-center text-2xl font-semibold">PAÍS</h1>
            <div class='p-5'>

                <app-country-form (sendName)="searchCountry($event)"></app-country-form>
                
                <span class="text-red-500 text-sm" *ngIf="name == '' && submitted">
                    Campo vacio o no se encontro ningun considencia
                </span>
            </div>
            <div class="flex items-center justify-center">
                <span class="font-serif text-md" *ngIf="!submitted">
                    Ninguna busqueda realizada
                </span>
            </div>
            <div class="p-5">
                <app-country-table [countries]='countries' [submitted]='submitted'></app-country-table>
                <!--Coumication parent with his childs-->
            </div>
        </div>
    </div>
</div>